<section>
  <div class="leistungen-grid">
    <div class="text-secondary">Bezeichnung</div>
    <div class="text-secondary">Menge</div>
    <div class="text-secondary">Preis je Einheit</div>
    <div class="text-secondary">Preis</div>
  </div>
  <hr />
  <div class="leistungen-grid">
    <ng-container *ngFor="let leistung of rechnung.leistungen">
      <div>{{ leistung.bezeichnung }} ({{ leistung.stundensatz.name }})</div>
      <div>{{ leistung.menge | number }} Std.</div>
      <div>
        {{
          leistung.stundensatz.betrag
            | currency: rechnung.zahlungsbedingungen.waehrung
        }}
      </div>
      <div>
        {{
          leistungspreis(leistung)
            | currency: rechnung.zahlungsbedingungen.waehrung
        }}
      </div>
    </ng-container>
  </div>
  <hr />
</section>
