<section>
  <div class="leistungen-grid">
    <div class="text-secondary">Leistung</div>
    <div class="text-secondary">Menge</div>
    <div class="text-secondary">Stundensatz</div>
    <div class="text-secondary">Preis</div>
  </div>
  <hr />
  <div class="leistungen-grid">
    <ng-container *ngFor="let position of rechnung.positionen">
      <div>
        {{ position.bezeichnung }}
      </div>
      <div>{{ position.anzahlStunden | number }} Std.</div>
      <div>
        {{ position.stundensatz | currency: rechnung.waehrung }}
      </div>
      <div>
        {{ position.preis | currency: rechnung.waehrung }}
      </div>
    </ng-container>
  </div>
  <hr />
</section>
