<section>
  <dl>
    <dt>Kunde</dt>
    <dd>{{ rechnung.kundenname }}</dd>

    <dt>Kundennummer</dt>
    <dd>{{ rechnung.kundennummer }}</dd>

    <dt>Rechnungsnummer</dt>
    <dd>{{ rechnung.rechnungsnummer }}</dd>

    <dt>Rechnungsdatum</dt>
    <dd>{{ rechnung.erstelltAm | date: "dd.MM.yyyy" }}</dd>

    <dt>Skonto</dt>
    <dd>{{ rechnung.skonto | percent }}</dd>

    <dt>Zahlungsziel</dt>
    <dd>{{ rechnung.zahlungsziel }} Tage</dd>

    <dt>Zu zahlen bis spätestens</dt>
    <dd>{{ rechnung.zahlungsfristAm | date: "dd.MM.yyyy" }}</dd>
  </dl>
</section>
